.dropdown-content {
  @extend .z-depth-1;
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  white-space: nowrap; // Force one line
  z-index: 999;
  will-change: width, height;

  &.flat {
    box-shadow: none;
  }

  &.dropdown-inline {
    display: block;
    opacity: 1;
    position: relative;
    box-shadow: none;
  }

  >li {
    clear: both;
    color: $off-black;
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    >a {
      outline: none;
    }

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #fff !important;
    }

    & > a, & > span {
      font-size: 1rem;
      color: $dropdown-color;
      display: block;
      padding: 1rem 1rem;
    }
  }
}

.dropdown-in {
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}
.dropdown-out {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
}