// Timing functions from velocity.js project
// https://github.com/julianshapiro/velocity

$timing-ease: cubic-bezier(0.25, 0.1, 0.25, 1.0);
$timing-ease-in: cubic-bezier(0.42, 0.0, 1.0, 1.0);
$timing-ease-out: cubic-bezier(0, 0, 0.58, 1);
$timing-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);

$timing-ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$timing-ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$timing-ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$timing-ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$timing-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$timing-ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$timing-ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$timing-ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$timing-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$timing-ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$timing-ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$timing-ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

$timing-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$timing-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$timing-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

$timing-ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$timing-ease-out-expo: cubic-bezier(0.19, 1.0, 0.22, 1);
$timing-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

$timing-ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$timing-ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$timing-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);